{% extends 'base.html.twig' %}

{% block title %}EmployeeComment index{% endblock %}

{% block body %}
    <h1>EmployeeComment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee_comment in employee_comments %}
            <tr>
                <td>{{ employee_comment.id }}</td>
                <td>{{ employee_comment.Content }}</td>
                <td>{{ employee_comment.CreatedAt ? employee_comment.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_employee_comment_show', {'id': employee_comment.id}) }}">show</a>
                    <a href="{{ path('app_employee_comment_edit', {'id': employee_comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_employee_comment_new') }}">Create new</a>
{% endblock %}
