{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    <a href="{{ path('app_category_index') }}"> Voir tous les modèles</a>

    <div class="mt-5">
     <table class="table">
        <thead>
            <tr>
                <th>Marque</th>
                <th>Prix</th>
                <th>Carburant</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.brand }}</td>
                <td>{{ car.price }}</td>
                <td>{{ car.fuel }}</td>
                <td>
                    <a href="{{ path('app_car_show', {'id': car.id}) }}"> Voir détails</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
